# Server
PORT=5000
NODE_ENV=development

# Database
DB_HOST=bbjezdwjpoeodgfwmptd-mysql.services.clever-cloud.com
DB_PORT=3306
DB_USER=urtrsisuuryxyjzs
DB_PASSWORD=Eki9BJGEHwgUa1Qo0kCw
DB_NAME=bbjezdwjpoeodgfwmptd

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d

# Admin (for seeding)
ADMIN_EMAIL=admin@varian.com
ADMIN_PASSWORD=Admin@1234

# CORSd
CORS_ORIGIN=http://localhost:3000